<template id="app">
  <v-app>
    <v-container>
      <v-row>
        <v-col>
          <v-card>
            <v-data-table
              :headers="headerPatterns"
              :items="patternsRegExp"
              :items-per-page="200"
              dense
            >
            </v-data-table>
          </v-card>
        </v-col>
        <v-col>
          <v-card>
            <v-card-title>
              test
            </v-card-title>
            <v-text-field label="パターン(正規表現)" v-model="newRegExp"></v-text-field>
            <v-text-field label="説明" v-model="newText"></v-text-field>
            <v-text-field label="品目" v-model="newHinmoku"></v-text-field>
            <v-btn @click="onRegisterRegExp"></v-btn>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card>
            <v-card-title>
              個品テーブル
              <v-spacer></v-spacer>
              <v-text-field
                v-model="searchKohin"
                append-icon="search"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-file-input type="file" @change="onFileChange($event)"></v-file-input>
            <v-btn onclick="document.getElementById('download').click()">ダウンロード</v-btn>
            <a id="download" href="#" download="test.csv" onclick="handleDownload()" style="display:none">ダウンロード</a>
            <v-btn @click="onSave('delete',kohinSelected)" >削除</v-btn>
            <v-btn @click="onSave('hinmoku',kohinSelected)" >変えない</v-btn>
            <v-btn @click="onSave('suggest',kohinSelected)" >サジェスト</v-btn>
            <v-btn @click="onSave('kobetsu',kohinSelected)" >個別入力</v-btn>
            <v-data-table
              show-select
              v-model="kohinSelected"
              item-key="個品ID"
              :headers="headerRecords"
              :items="recordsMatching.slice(0,100000)"
              :items-per-page="200"
              @click:row="console.log('eee')"
              :search="searchKohin"
              dense
            ></v-data-table>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card>
            <v-card-title>
              品目一覧
              <v-spacer></v-spacer>
              <v-text-field
                v-model="searchHinmoku"
                append-icon="search"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-file-input type="file" @change="onFileChangeHinmoku"></v-file-input>
            <v-btn @click="onSave" >Save</v-btn>
            <v-data-table
              :headers="headerHinmoku"
              :items="hinmoku"
              :items-per-page="200"
              :search="searchHinmoku"
              dense
            ></v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>

const headerArray = ["個品ID","会社コード","CAPEX/OPEXフラグ","有形/無形フラグ","発注通貨コード","発注金額","SAP連携金額　(取得金額)","現在帳簿価額","期末帳簿価額","品目ID","品目名称","製造メーカーID","製造メーカー名称","ロケ種別コード","ロケ種別","ロケL2システムコード","ロケL2コード","ロケL2名称","ロケL3システムコード","ロケL3コード","ロケL3名称","共通費配賦基準日","個品ステータス","資産ステータス","資産不明フラグ","発注番号","検収書番号","資産番号","資産補助番号","資本化日付(建仮:取得日）","資産クラス","資産の種類名称（資産クラス名称）","勘定科目","勘定科目名称","購入部門名称（責任原価センタ名称）","責任原価センタID","費用負担部門名称（原価センタ名称）","原価センタID","オーナー部門コード","オーナー部門名称","予算番号","除却日","シリアル番号","数量","借用品フラグ","仕入先コード","仕入先名称","故障フラグ","中古品フラグ","処分方法区分","耐用年数","耐用期間","残耐用年数","残耐用期間","ロケーション（住所コード（5桁））","ロケーション名称（住所名称（都道府県市区名））","MAコード（資産グループコード）","MAコード名称（資産グループコード名称）","無効日","最終棚卸日","資産フラグ","資産フラグ名称","リース契約日","リース開始日付","リース契約満了日","リースステータス","リースステータス名称","メモ1","メモ2","メモ3","メモ4","メモ5","メモ6","メモ7","メモ8","メモ9","メモ10","更新ユーザ","更新ユーザ名称","更新日"]


function jsonToCsv(headerArray,json,delimiter=",") {
  const header = headerArray.join(delimiter) + "\n";
  const body = json.map(function(d){
    return headerArray.map(function(key) {
      return d[key];
    }).join(delimiter);
  }).join("\n");
  return header + body;
}


function handleDownload() {
  var bom = new Uint8Array([0xEF, 0xBB, 0xBF]);
  var content = jsonToCsv(headerArray,state.records,delimiter=",") ;
  var blob = new Blob([ bom, content ], { "type" : "text/csv" });
  document.getElementById("download").href = window.URL.createObjectURL(blob);
}
            
const App = {
  template: '#app',


  data() {
    return {
      newRegExp: "",
      newText: "",
      newHinmoku: "",
      searchHinmoku:"",
      searchKohin:"",
      kohinSelected:[],
    }
  },

  computed: {
    ...Vuex.mapGetters([
      'recordsMatching',
      'patternsRegExp',
    ]),
    ...Vuex.mapState([
      'headerRecords',
      'headerPatterns',
      'headerHinmoku',
      'hinmoku',
    ]),
  },
  methods: {
    ...Vuex.mapMutations([
      'addPattern'
    ]),
    onFileChange(e){
      console.log(e)
      var file = e;
      var url = URL.createObjectURL(file);
      console.log(url)
      d3.csv(url)
        .then(myRecords => {
        store.commit('readRecords',myRecords)
      });
    },
    onFileChangeHinmoku(e){
      console.log(e)
      var file = e;
      var url = URL.createObjectURL(file);
      console.log(url)
      d3.csv(url)
        .then(myHinmoku => {
        store.commit('readHinmoku',myHinmoku)
      });
    },
    onSave(type, payload){
      console.log(type,payload.length)
      switch(type){
        case 'hinmoku': {
          payload.forEach(record=>{
            Vue.set(record,"result",record.品目ID)
          })
          break
        }
        case 'suggest': {
          payload.forEach(record=>{
            Vue.set(record,"result",record.matched)
          })
          break
        }
        case 'kobetsu': {
          console.log("kobetsu")
          payload.forEach(record=>{
//            Vue.set(record,"result",record.matched)
          })
          break
        }
        case 'delete': {
          payload.forEach(record=>{
            Vue.delete(record,"result")
          })
          break
        }
      }
    },
    onRegisterRegExp(){
      const result = this.addPattern({
        regExp: this.newRegExp,
        text: this.newText,
        hinmoku: this.newText,
      })
    }
  }
}

const vue = new Vue({
  store,
  vuetify: new Vuetify(),
  render: h => h(App)
  }).$mount('#vue-app')

</script>
